/*
X-Small devices (portrait phones, less than 576px) 
No media query for `xs` since this is the default in Bootstrap 

███    ███  ██████  ██████  ██ ██      ███████     ███████ ██ ██████  ███████ ████████ 
████  ████ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██ ██         ██    
██ ████ ██ ██    ██ ██████  ██ ██      █████       █████   ██ ██████  ███████    ██    
██  ██  ██ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██      ██    ██    
██      ██  ██████  ██████  ██ ███████ ███████     ██      ██ ██   ██ ███████    ██    
                                                                                       
*/

/* Add Border Box and Smooth Scroll */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: url("up.png"), auto !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Use variable for to easily change your theme's colour scheme and typography.

██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████ 
██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██      
██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████ 
 ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██ 
  ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████ 
                                                                    
*/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Making all images responsive */
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  /* Removes the gap/space in inline elements for text descenders. */
  object-fit: contain;
  /* This is optional. Also try cover or leave out entirely. */

}

p {
  padding: 2rem 1rem 0 0;
}


/*

██████  ██████   ██████       ██ ███████  ██████ ████████     ██████   █████   ██████  ███████ 
██   ██ ██   ██ ██    ██      ██ ██      ██         ██        ██   ██ ██   ██ ██       ██      
██████  ██████  ██    ██      ██ █████   ██         ██        ██████  ███████ ██   ███ █████   
██      ██   ██ ██    ██ ██   ██ ██      ██         ██        ██      ██   ██ ██    ██ ██      
██      ██   ██  ██████   █████  ███████  ██████    ██        ██      ██   ██  ██████  ███████ 
                                                                                               
*/

.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--alt-background-color);
}

/* Sidebar */
.project-aside {
  width: 100%;
  color: #000;
  background: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.project-navigation {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: flex-end;
}

.project-info {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.arrow {
  padding-right: 1rem;
  margin-bottom: 20%;
}

.fas {
  color: #000;
}

.fas:hover {
  color: #f33ba5;
}

.project-image {
  font-size: 12rem;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-image {  font-size: 14rem;}


/* Main Project Image Area */
.project-details {
  width: 100%;
  background-color: #fff;
  padding: 1rem;
}





/*

 ██████  ███    ███ ███████ ██████   █████  
██    ██ ████  ████ ██      ██   ██ ██   ██ 
██ ██ ██ ██ ████ ██ █████   ██   ██ ███████ 
██ ██ ██ ██  ██  ██ ██      ██   ██ ██   ██ 
 █ ████  ██      ██ ███████ ██████  ██   ██ 
                                            
                                           
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  body {
    background: var(--color-darkest);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    background: var(--color-dark);
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    background: var(--color-normal);
  }

h1    {font-size: 4.275rem;
  }

h2 {
    font-size: 2.5rem;
  }
  
h3 {
    font-size: 1.625rem;
  }




  .logo {
    width: 5rem;
  }
  .hero {
    min-height: 100vh;}

  .hero-headline-wrapper {
    padding: 4rem 8rem;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));    
    grid-gap: 1rem;
  }

/* Grayscale filter with full-colour on hover and tap */
.work-page-grid-item a img {
  filter: grayscale(100);
}

.work-page-grid-item > a:hover img, .work-page-grid-item > a:active img {
  filter: grayscale(0);
}


.global-footer, .about {
  padding: 4rem 4rem;  
  grid-template-columns: 1fr 2fr;
}

.footer-item-1, .about-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;  
}
.footer-item-2, .about-item-2 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

/* Padding around work grid and project page */
.portfolio, .project-wrapper {
  padding: .5rem
}

  /* Project Page Flex Direction on Large Devices */
  .project-wrapper {
    flex-direction: row;

  }


  /* Sidebar on Large Devices */
  .project-aside {
    width: 35vw;
    height: 90vh;
    position: -webkit-sticky;
    position: sticky;
    top: 10vh;
  }


  /* Main Project Image Area on Large Devices */
  .project-details {
    width: 65vw;
  }


  .project-image {
    min-height: 100vh;
  }




  /* X-Large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) {
    body {
      background: var(--color-light);
    }
  }

  /* XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1400px) {
    body {
      background: var(--color-lightest);
    }
  }